<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/NewEvent.html">Create Event</a></li>
            </ul>

        </div>
    </div>
    <div ng-controller="EditEventController" style="padding-left:20px; padding-right:20px">
        <div class="container" >
            <h1 ng-hide="editingEvent">New Event</h1>
            <h1 ng-show="editingEvent">Edit Event</h1>
            <hr/>
            <form name="editEventForm">
                <fieldset>
                    <label for="eventName">Event Name:</label>
                    <input id="eventName" type="text" required placeholder="Name of your event..." ng-model="event.name" />
                    <label for="eventDate">Date:</label>
                    <input id="eventDate" type="text" required placeholder="format (mm/dd/yyyy)..." ng-model="event.date" />
                    <label for="eventTime">Time:</label>
                    <input id="eventTime" type="text" required placeholder="start and end time..." ng-model="event.time" />
                    <label for="eventLocation">Location:</label>
                    <input id="eventLocation" type="text" required placeholder="Address of event..." ng-model="event.location.address" />
                    <br />
                    <input id="eventCity" type="text" required class="input-small" placeholder="City..." ng-model="event.location.city" />
                    <input id="eventProvince" type="text" required class="input-small" placeholder="Province..." ng-model="event.location.province" />

                    <label for="eventImageUrl">Image:</label>
                    <input id="eventImageUrl" type="url" required class="input-xlarge" placeholder="Url of image..." ng-model="event.imageUrl" />

                </fieldset>

                <img data-ng-src="{{event.imageUrl}}" src="" />
                <br />
                <br />

                <button type="submit" class="btn btn-primary" ng-click="saveEvent(event, editEventForm)">Save</button>
                <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>

            </form>
        </div>


    </div>
</div>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/angular/angular-cookies.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/EditEventController.js"></script>
<script src="/js/controllers/EventController.js"></script>
<script src="/js/services/EventData.js"></script>
<script src="/lib/bootstrap.min.js"></script>

</body>
</html>
